<%= link_to "Movie Index", "/directors/#{@director.id}/movies" %>
<h1><%= @director.name %></h1>
<p>Has Oscar: <%= @director.oscar %></p>
<p>Total Nominations: <%= @director.nominations %></p>
<p>Total Movies: <%= @director.movie_count %></p>

<%= link_to "Edit #{@director.name}", "/directors/#{@director.id}/edit" %>
<br>
<%= link_to "Delete #{@director.name}", "/directors/#{@director.id}", method: :delete %>
