<%= link_to 'Garden Vegetables Index', "/gardens/#{@garden.id}/vegetables", method: :get, local: true %>

<h1><%= @garden.name %></h1>
<p>Weeded: <%= @garden.weeded %></p>
<p>Hours of Sunlight: <%= @garden.hrs_of_sun %></p>
<p>Number of Vegetabels: <%= @garden.vegetable_count %></p>

<%= button_to "Edit #{@garden.name}", "/gardens/#{@garden.id}/edit", method: :get %>
<%= link_to "Delete Garden", "/gardens/#{@garden.id}", method: :delete %>
