<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Gardens", "/gardens"%> <%= link_to "Vegetables", "/vegetables"%>
    <%= link_to "Movies", "/movies" %> <%= link_to "Directors", "/directors" %>

    <%= yield %>
  </body>
</html>
